.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  opacity: 0.5;
}
.popup__container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  display: none;
}
.popup__button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 420px;
}
.popup__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.popup__image {
  display: none;
}

.popup__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup__button-image {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  margin-top: -550px;
  margin-left: 850px;
}
.popup__button-image:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popup__image-open {
  height: 540px;
  width: 816px;
  margin-top: 40px;
}
.popup__image-name {
  width: 291px;
  height: 12px;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: #ffffff;
  margin-top: 620px;
  margin-left: -525px;
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .popup__button {
    margin-left: 600px;
    max-width: 100%;
  }
  .popup__button-image {
    margin-left: 480px;
  }
  .popup__image-open {
    height: 540px;
    width: 433px;
  }
  .popup__image-name {
    margin-left: -140px;
  }
}
@media screen and (max-width: 1024px) {
  .form {
    width: 100%;
    margin-left: 200px;
  }
}

@media screen and (max-width: 740px) {
  .popup__container {
    top: 40%;
    left: 20%;
  }
  .popup__button {
    margin-left: 450px;
  }
  .popup__button-image {
    margin-left: 260px;
    margin-top: -299px;
  }
  .popup__image-open {
    height: 299px;
    width: 240px;
  }
  .popup__image-name {
    margin-left: 60px;
    margin-top: 380px;
  }
}
