.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  inset: 0;
}
.popup-opened {
  display: flex;
}
.popup__container {
  color: black;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.popup__button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 430px;
}
.popup__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popup__button-image {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  margin-top: -550px;
  margin-left: 850px;
}
.popup__button-image:hover {
  cursor: pointer;
  opacity: 0.6;
}
.popup__button-avatar {
}

.popup__image-open {
  height: 540px;
  width: 816px;
  margin-top: 40px;
}
.popup__image-name {
  width: 291px;
  height: 12px;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: #ffffff;
  margin-top: 620px;
  margin-left: -525px;
  position: absolute;
}
@media screen and (max-width: 1024px) {
  .popup__button {
    max-width: 100%;
  }
  .popup__button-image {
    margin-left: 480px;
  }
  .popup__image-open {
    height: 540px;
    width: 433px;
  }
  .popup__image-name {
    margin-left: -140px;
  }
}

@media screen and (max-width: 740px) {
  .popup__button {
    margin-left: 280px;
  }
  .popup__button-image {
    margin-left: 260px;
    margin-top: -299px;
  }
  .popup__image-open {
    height: 299px;
    width: 240px;
  }
  .popup__image-name {
    margin-left: 60px;
    margin-top: 380px;
  }
}
