.page {
  max-width: 1280px;
  color: #ffffff;
  padding: 0 200px 0 200px;
  font-family: "Inter" sans-serif;
}
body {
  background-color: #000000;
}

.nav {
  max-width: 880px;
  height: 74px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border-bottom: 1px solid #545454;
  margin-top: 45px;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.profile__image {
  max-width: 120px;
  height: 120px;
  opacity: 0px;
  border-radius: 50%;
}
.profile__card {
  margin-top: 22px;
  display: grid;
  grid-template-areas:
    "title botton"
    "description span";
  margin-left: 30px;
  gap: 15px;
}
.profile__name {
  max-width: 373px;
  height: 39px;
  gap: 0px;
  opacity: 0px;
  margin: 0;
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
}
.profile__description {
  margin: 0;
  width: 415px;
  height: 22px;
  top: 236px;
  left: 350px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
}
.profile__botton {
  margin: 0;
  padding: 0;
  border: 1px solid #ffffff;
  max-width: 24px;
  height: 24px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.profile__add {
  border: 2px solid #ffffff;
  width: 150px;
  height: 50px;
  margin-left: 165px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__add-bt {
  max-width: 22px;
}
.main {
  display: grid;
  grid-template-areas:
    "main__image main__image main__image"
    "main__image main__image main__image";
  gap: 17px 20px;
  margin-top: 50px;
}
.main__image {
  width: 282px;
  height: 361px;
  gap: 0px;
  border-radius: 10px 10px 0px 0px;
  opacity: 0px;
}
.main__title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  width: 282px;
  height: 50px;
  top: 636px;
  left: 221px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  border-radius: 0px 0px 10px 10px;
  background-image: url(/images/image__like.png) no-repeat;
}
