<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Alisson Rodrigues" />
    <meta name="description" content="Around the U.S" />
    <meta name="keywords" content="html,css,JavaScript" />
    <!-- <link rel="stylesheet" href="./pages/index.css" /> -->
    <!-- <link rel="shortcul icon" href="favicon.ico" type="image/x-icon" /> -->
    <title>Around the U.S.</title>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <nav class="nav">
          <img
            src="<%= require('./images/logo_around.png')%>"
            alt="imagem do logo da page"
          />
        </nav>
      </header>
      <section class="profile">
        <div class="profile-edit-avt">
          <img
            src="<%= require('./images/image_header.jpg')%>"
            alt=" imagem do perfil"
            class="profile__image"
          />
        </div>
        <div class="profile__avatar-edit">
          <img
            src="<%= require('./images/profile__avatar.png')%>"
            alt="Editar avatar"
            class="profile__edit-photo"
          />
        </div>
        <div class="profile__card">
          <h2 class="profile__name">Jacques Cousteau</h2>
          <div>
            <button class="profile__button">
              <img
                src="<%= require('./images/profile__botton.png')%>"
                alt="botao"
                id="#login"
              />
            </button>
          </div>
          <p class="profile__description">Explorador</p>
        </div>

        <button class="profile__add">
          <img
            src="<%= require('./images/profile__add.png')%>"
            alt="adicionar"
            class="profile__add-bt"
          />
        </button>
      </section>

      <main class="cards">
        <template id="card-template">
          <div class="cards__container">
            <button class="cards__button-remove">
              <img src="" alt="" class="cards__image" />
            </button>
            <img
              id="remove-image"
              src="<%= require('./images/Trash.png')%>"
              alt="delete"
              class="cards__delete"
            />
            <div class="cards__container-title">
              <h3 class="cards__container-name"></h3>
              <button class="cards__button" type="button">
                <img
                  class="cards__button-like"
                  src="<%= require('./images/image__like.png')%>"
                  alt="icone de like"
                />
                <span class="cards__like-counter">0</span>
              </button>
            </div>
          </div>
        </template>
      </main>
      <footer class="footer">
        <p>© 2024 Around The U.S.</p>
      </footer>
      <div class="popup popup-edit-avatar">
        <div class="popup__container">
          <button type="button" class="popup__button popup__button-avatar">
            <img
              class="popup__button-photo"
              src="<%= require('./images/close__image.png')%>"
              alt=""
            />
          </button>
          <form class="form form_edit-avatar" name="edit-avatar" novalidate>
            <h2 class="form__title">Alterar a foto do perfil</h2>

            <fieldset class="form__fieldset">
              <input
                type="url"
                name="link"
                id="link-input"
                class="form__input form__input_el_link"
                placeholder="Link da imagem"
                required
              />
              <button type="submit" name="submit" class="form__button">
                Salvar
              </button>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="popup popup-form-confirm">
        <div class="popup__container popup__content_form">
          <button type="button" class="popup__button popup__close">
            <img
              class="popup__button-photo"
              src="<%= require('./images/close__image.png')%>"
              alt=""
            />
          </button>

          <form class="form_confirm" name="confirm" novalidate>
            <h2 class="form__title">Tem certeza?</h2>

            <fieldset class="form__fieldset">
              <span class="id-input-error form__input-error"></span>
              <button
                type="submit"
                name="submit"
                class="form__button form__button_del-confirm"
              >
                Sim
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="popup popup-image">
      <div class="popup__image-container popup__container">
        <button class="popup__button popup__button-image">
          <img
            class="popup__button-photo"
            src="<%= require('./images/close__image.png')%>"
            alt=""
          />
        </button>
        <img class="popup__image-open" src="" alt="" />
        <p class="popup__image-name"></p>
      </div>
    </div>
    <div class="popup popup-edit">
      <div class="popup__container">
        <button class="popup__button">
          <img
            src="<%= require('./images/close__image.png')%>"
            alt="close"
            class="popup__close"
          />
        </button>
        <form id="user-form" class="form" novalidate>
          <h2 class="form__title">Editar perfil</h2>
          <fieldset class="form__fieldset">
            <div class="form__display">
              <input
                type="text"
                class="form__input form__input-name"
                id="name"
                name="name"
                placeholder="Nome"
                minlength="2"
                maxlength="40"
                required
              />
              <p class="error-message"></p>
            </div>
            <div class="form__display">
              <input
                type="text"
                class="form__input form__input-description"
                id="description"
                name="description"
                placeholder="Sobre mim"
                minlength="2"
                maxlength="200"
                required
              />
              <p class="error-message"></p>
            </div>
            <button
              disabled
              id="button-save"
              class="form__button"
              type="submit"
            >
              Salvar
            </button>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="popup popup-add">
      <div class="popup__container popup__container-add">
        <button class="popup__button popup__button-add">
          <img
            src="<%= require('./images/close__image.png')%>"
            alt="close"
            class="popup__close-add"
          />
        </button>
        <form id="card-form" class="form form-add" novalidate>
          <h2 class="form__title form__title-add">Novo Local</h2>
          <fieldset class="form__fieldset form__fieldset-add">
            <div class="form__display">
              <input
                type="text"
                class="form__input form__input-name form__input-name-add"
                id="title"
                name="title"
                placeholder="Titulo"
                minlength="2"
                maxlength="30"
                required
              />
              <p class="error-message"></p>
            </div>
            <div class="form__display">
              <input
                type="url"
                class="form__input form__input-description form__input-description-add"
                id="url"
                name="url"
                placeholder="Link de imagem"
                required
              />
              <p class="form__input-error-message"></p>
            </div>
            <button
              disabled
              id="create-button"
              class="form__button form__button-add"
              type="submit"
            >
              Criar
            </button>
          </fieldset>
        </form>
      </div>
    </div>
    <script type="module" src="./pages/index.js"></script>
  </body>
</html>
